*{
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    background-color: lightslategray;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    color: #000;
    line-height: 20px; 
  }

  .btnOn, .btnOff, .btnImg, .go{
    background: #fff;
    border: 3px #474343 solid;
    color: #000;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 8px;
    display: inline;
    cursor: pointer;
  }

  h1 {
      text-align: center;
  }

  ul {
      list-style: none;
  }

  .header {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 10px;
      padding-bottom: 15px;
  }

  

  .hardSkills, .hobby {
    display: flex;
    justify-content: center;
    width: 990px;
    padding-bottom: 15px;
}

    .hobby {
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 990px;
    padding-top: 20px;
}

  .dark{
      background-color: black;
      color: #fff;
  }


  .light{
      display: flex;
      background-color: #fff;
      color: #000;
      border: 3px #474343 solid;
    }

    .selection {
        border: 2px #000 solid;
    }

    .footer{
      width: 100%;
      margin: 0 auto;
      text-align: center;
    
    }
    img {
      display: none;
    }

    .round {
      border-radius: 100%;
      border: 8px #ff0000 solid;
      border-width: 8px;;
      display: flex;
      justify-content: left;
       width: 100px;
       height: 100px;
       
    }

  .calcolo #idinputNum {
    width: 150px;
    height: 30px;
    margin: 30px;
  }

  .calcolo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 990px;
    align-items: center;
  }